<configuration scan="true">

<property name="LOG_DIR" value="./resources/" />
<!-- Create a logcat appender -->
<appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
        <pattern>%msg</pattern>
    </encoder>
</appender>

<!-- Create a file appender for DEBUG-level messages -->
<appender name="MainLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<file>${LOG_DIR}/main.log</file>-->
    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/main_%d{yyMMdd}.log</fileNamePattern>
        <maxHistory>4</maxHistory>
        <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<!-- Create a file appender for ERROR-level messages -->
<appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--<file>${LOG_DIR}/error.log</file>-->

    <prudent>true</prudent>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/error_%d{yyMMdd}.log</fileNamePattern>
        <maxHistory>4</maxHistory>
        <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>

    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
    </filter>
</appender>

<!-- Write INFO (and higher-level) messages to logcat -->
<root level="INFO">
    <appender-ref ref="logcat" />
    <appender-ref ref="ErrorLog" />
    <appender-ref ref="MainLog" />
</root>
</configuration>