<!-- pass conf params -->
<configuration debug="false" scan="true"> 

<!-- add appender -->
<appender name="htmlAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

<!-- FILTER -->
<!-- <filter clss="ch.qos.logback.classic.ThresholdFilter">
<level>ERROR</level>
</filter> -->

        <!-- file name in the root dir -->
        <fileNamePattern>log-%d{yyyy-MM-dd-hh-mm}.html</fileNamePattern>
        
        <!-- retention policy -->
        <maxHistory>7</maxHistory> 
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>3MB</maxFileSize>
    </triggeringPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
    <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
    </encoder>
</appender>

<!-- enable appender + assign log level(to see in the report)-->
  <root level="INFO">
  <appender-ref ref="htmlAppender" />
  </root>
</configuration>