<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="TestNG Suite">
	<!-- <test name="UIData"> -->

	<test name="SmokeTEst" thread-count="3" parallel="methods" >
	<parameter name="browser" value"Chrome" />
		<classes>
			<class name="com.automationpractice.HybridExecuteTest" />
		</classes>
	</test>
	
	<!-- FIREFOX -->
	<test name="Regression">
	<parameter name="browser" value"Firefox" />
		<classes>
			<class name="com.automationpractice.HybridExecuteTest" />
		</classes>
	</test>
</suite> -->
